<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>GISPD-Copy Map Point</Name><AddInID>{6e84acfa-fd07-43d8-bb55-e3b460b6e073}</AddInID><Description>Get lat/long string for clicked point and put it into the Windows paste buffer</Description><Version>0.1</Version><Image>Images\CopyMapPoint.png</Image><Author>Jason Pardy</Author><Company>GISPD.com</Company><Date>10/20/2014</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="CopyMapPoint_addin.py" namespace="CopyMapPoint_addin"><ArcMap>
    <Commands>
        <Tool caption="GISPD-Copy Map Point" category="GISPD-Copy Map Point" class="CopyMapPoint" id="CopyMapPoint_addin.copy_map_point" image="Images\CopyMapPoint.png" message="Get lat/long string for clicked point and put it into the Windows paste buffer" tip="GISPD-Copy Map Point"><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="GISPD-Copy Map Point" category="GISPD-Copy Map Point" id="CopyMapPoint_addin.toolbar" showInitially="true"><Items><Tool refID="CopyMapPoint_addin.copy_map_point" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>